/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  src: url("../fonts/PlayfairDisplay-SemiBold.ttf"); }

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.ttf"); }

@font-face {
  font-family: "PlayfairDisplay-MediumItalic";
  src: url("../fonts/PlayfairDisplay-MediumItalic.ttf"); }

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf"); }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-Grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: DM Serif Text, serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--colorGrey-dark-2);
  background-color: #0b0b0d;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: -1;
  color: #fff;
  width: 100%;
  margin: auto;
  scroll-behavior: smooth; }

body::before {
  content: "";
  position: fixed;
  left: -10rem;
  z-index: 9999;
  top: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-image: url("../img/noiseFive.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.35;
  pointer-events: none;
  animation: noise 1s steps(2) infinite;
  z-index: -10; }

@-webkit-keyframes noise {
  to {
    transform: translate3d(-7rem, 0, 0); } }

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0); }
  10% {
    transform: translate3d(-1rem, -4rem, 0); }
  20% {
    transform: translate3d(-8rem, 2rem, 0); }
  30% {
    transform: translate3d(9rem, -9rem, 0); }
  40% {
    transform: translate3d(-2rem, 7rem, 0); }
  50% {
    transform: translate3d(-9rem, -4rem, 0); }
  60% {
    transform: translate3d(2rem, 6rem, 0); }
  70% {
    transform: translate3d(7rem, -8rem, 0); }
  80% {
    transform: translate3d(-9rem, 1rem, 0); }
  90% {
    transform: translate3d(6rem, -5rem, 0); }
  to {
    transform: translate3d(-7rem, 0, 0); } }

.nav {
  position: fixed;
  height: 10vh;
  min-width: 100%; }

.hero {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: auto;
  margin-bottom: 20rem; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40rem;
  font-family: 'PlayfairDisplay-Regular';
  height: auto;
  margin-bottom: 20rem; }

.photography {
  margin-top: 30rem;
  width: 100%;
  height: auto;
  margin-bottom: 20rem; }

.cases {
  height: auto;
  width: 100%;
  margin-bottom: 20rem; }

.resume {
  height: 100vh;
  width: 100%; }

.footer {
  width: 100%;
  height: 45vh; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: 30vh; } }

.user-nav {
  margin-top: 0.2rem;
  height: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0;
  color: #f8f8f8;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); }
  .user-nav__link {
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    font-size: 1.2rem;
    border: 2px solid gray;
    border-radius: 5rem;
    padding: 1px 10px; }
    .user-nav__link:hover {
      border: 2px solid #b76b28;
      color: #b76b28; }
  .user-nav__title {
    border: 3px solid gray;
    padding: 1px 10px;
    font-size: 2.2rem;
    border-radius: 5rem;
    font-weight: 700;
    opacity: 0.8; }

.hero-section {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%; }
  .hero-section__video {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: 45% 40%;
    height: 48rem;
    width: 40rem;
    opacity: 0.9;
    border-radius: 40px;
    top: 12%;
    box-shadow: 20px 20px 20px black, inset 20px 20px 20px black; }
    @media only screen and (max-width: 68.75em) {
      .hero-section__video {
        height: 57.6rem;
        width: 48rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero-section__video {
        height: 52.8rem;
        width: 44rem; } }
    @media only screen and (max-width: 31.25em) {
      .hero-section__video {
        height: 48rem;
        width: 40rem; } }
  .hero-section__titles {
    position: relative;
    height: 48rem;
    width: 40rem;
    margin: auto; }
    .hero-section__titles__viktor {
      position: absolute;
      color: #fcf1dcd1;
      text-shadow: 0 4px rgba(0, 0, 0, 0.2);
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
      font-size: 12rem;
      letter-spacing: 0.1em;
      font-family: "PlayfairDisplay-SemiBold";
      animation: fromAbove cubic-bezier(0.98, 0.9, 0, 0.93) 1s; }
      @media only screen and (max-width: 56.25em) {
        .hero-section__titles__viktor {
          font-size: 10rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero-section__titles__viktor {
          font-size: 8rem;
          top: 8%; } }
    .hero-section__titles__creative {
      color: #f8f8f8;
      opacity: 0.7;
      position: absolute;
      top: 30rem;
      left: -25rem;
      letter-spacing: 0.1em;
      font-size: 7.2rem;
      text-transform: capitalize;
      font-family: "PlayfairDisplay-MediumItalic";
      animation: fromLeft cubic-bezier(0.98, 0.9, 0, 0.93) 1s; }
      @media only screen and (max-width: 56.25em) {
        .hero-section__titles__creative {
          left: -18rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero-section__titles__creative {
          font-size: 4rem;
          left: -6rem; } }
      @media only screen and (max-width: 31.25em) {
        .hero-section__titles__creative {
          left: -4rem; } }
    .hero-section__titles__website {
      color: #f8f8f8;
      opacity: 0.7;
      position: absolute;
      top: 35rem;
      right: -25rem;
      letter-spacing: 0.1em;
      font-size: 7.2rem;
      text-transform: capitalize;
      font-family: "PlayfairDisplay-MediumItalic";
      animation: fromRight cubic-bezier(0.98, 0.9, 0, 0.93) 1s; }
      @media only screen and (max-width: 56.25em) {
        .hero-section__titles__website {
          right: -18rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero-section__titles__website {
          font-size: 4rem;
          right: -6rem; } }
      @media only screen and (max-width: 31.25em) {
        .hero-section__titles__website {
          right: -3rem; } }
    .hero-section__titles__dev {
      color: #fcf1dcd1;
      text-shadow: 0 4px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 106%;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: 0.1em;
      font-size: 8rem;
      text-transform: capitalize;
      font-family: "PlayfairDisplay-SemiBold";
      animation: fromBelow cubic-bezier(0.98, 0.9, 0, 0.93) 1s; }
      @media only screen and (max-width: 68.75em) {
        .hero-section__titles__dev {
          top: 132%; } }
      @media only screen and (max-width: 56.25em) {
        .hero-section__titles__dev {
          top: 136%;
          font-size: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .hero-section__titles__dev {
          top: 126%;
          font-size: 5.2rem; } }

.about-me p {
  font-size: 2.2rem;
  line-height: 1.4;
  width: 60%;
  margin: auto; }
  @media only screen and (max-width: 37.5em) {
    .about-me p {
      padding: 5rem;
      width: 100%; } }

.about-who {
  width: 80rem;
  height: 72rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .about-who {
      width: 40rem;
      height: 36rem; } }
  .about-who p {
    position: absolute;
    color: white;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 8px 8px;
    font-family: "PlayfairDisplay-Regular";
    font-size: 2.4rem;
    box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3);
    background: #ce8e41;
    background: linear-gradient(0deg, #ce8e41 0%, #eeea8a 0%, #8e0101 100%);
    top: 50%;
    transform: translateY(-50%);
    left: 30%; }
    @media only screen and (max-width: 37.5em) {
      .about-who p {
        font-size: 1.6rem; } }
    .about-who p:first-child {
      top: 35%;
      left: 20%; }
      @media only screen and (max-width: 37.5em) {
        .about-who p:first-child {
          left: 50%; } }
    .about-who p:nth-child(2) {
      top: 35%;
      right: 20%; }
      @media only screen and (max-width: 56.25em) {
        .about-who p:nth-child(2) {
          right: 40%; } }
      @media only screen and (max-width: 37.5em) {
        .about-who p:nth-child(2) {
          right: 50%;
          top: 40%; } }
    .about-who p:nth-child(4) {
      top: 50%;
      left: 60%; }
      @media only screen and (max-width: 56.25em) {
        .about-who p:nth-child(4) {
          left: 40%; } }
  .about-who__logo {
    margin-top: -20rem;
    height: 100%;
    background-image: url("../img/NoTocarNoBackGroundC.png");
    background-size: cover;
    animation: lit 3.5s ease-out infinite;
    z-index: -2; }
  .about-who__title {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.8rem;
    line-height: 1.2;
    color: #fcf1dcd1; }
    .about-who__title h1 {
      text-shadow: 0 4rem 8rem white; }

.about-text {
  position: relative; }
  .about-text p {
    font-family: "PlayfairDisplay-Regular";
    font-size: 2.2rem; }
    @media only screen and (max-width: 56.25em) {
      .about-text p {
        padding: 4rem; } }
    .about-text p span {
      color: #fcf1dcd1;
      text-shadow: 0 2px 8px white;
      font-size: 2.5rem; }

.photography-content {
  height: 30%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .photography-content {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .photography-content {
      padding: 0.5rem; } }
  .photography-content__text {
    width: 45%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .photography-content__text {
        width: 80%;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .photography-content__text {
        width: 95%; } }
    .photography-content__text h2 {
      font-size: 5.2rem;
      font-family: "PlayfairDisplay-SemiBold";
      text-align: center;
      line-height: 1.2;
      margin-bottom: 2%;
      color: white; }
      @media only screen and (max-width: 37.5em) {
        .photography-content__text h2 {
          font-size: 4.2rem; } }
    .photography-content__text p {
      font-family: "PlayfairDisplay-Regular";
      margin: auto;
      text-align: center;
      width: 80%;
      font-size: 1.8rem; }
  .photography-content__pseudo {
    display: inline-block;
    background-size: cover;
    border-radius: 2rem;
    height: 100%;
    width: 45%;
    box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3);
    width: 60%; }
    @media only screen and (max-width: 56.25em) {
      .photography-content__pseudo {
        width: 85%; } }
    @media only screen and (max-width: 37.5em) {
      .photography-content__pseudo {
        width: 95%; } }
  .photography-content__left {
    order: 0;
    background-size: cover;
    box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3); }
    @media only screen and (max-width: 56.25em) {
      .photography-content__left {
        order: 1; } }
  .photography-content__right {
    order: 1; }
    @media only screen and (max-width: 56.25em) {
      .photography-content__right {
        order: 0; } }

.gallery-container {
  width: 95%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto 10rem auto; }
  @media only screen and (max-width: 68.75em) {
    .gallery-container {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .gallery-container {
      padding: 0.5rem; } }
  .gallery-container__images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .gallery-container__images {
        width: 85%; } }
    @media only screen and (max-width: 37.5em) {
      .gallery-container__images {
        width: 95%; } }
    .gallery-container__images img {
      height: 16rem;
      width: 20%;
      object-fit: cover;
      align-self: center;
      border-radius: 1rem;
      padding: 5px; }
      .gallery-container__images img:hover {
        box-shadow: 0 0 20px 2px rgba(103, 154, 204, 0.3); }
      @media only screen and (max-width: 37.5em) {
        .gallery-container__images img {
          height: 9rem; } }

#coverImageOne {
  background-image: url("../img/PhotographyMe/PB94.jpg");
  height: 50rem; }
  @media only screen and (max-width: 37.5em) {
    #coverImageOne {
      height: 30rem; } }

#coverImageTwo {
  background-image: url("../img/DSC04398.jpg");
  height: 50rem; }
  @media only screen and (max-width: 37.5em) {
    #coverImageTwo {
      height: 30rem; } }

.cases-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 1rem; }
  @media only screen and (max-width: 68.75em) {
    .cases-container {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .cases-container {
      width: 100%; } }
  .cases-container__text {
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 68.75em) {
      .cases-container__text {
        width: 100%;
        gap: 2rem; } }
    .cases-container__text h2 {
      font-size: 5.2rem;
      font-family: "PlayfairDisplay-SemiBold";
      text-align: center;
      line-height: 1.2;
      color: white;
      font-size: 4.2rem; }
    .cases-container__text p {
      font-family: "PlayfairDisplay-Regular";
      margin: auto;
      text-align: center;
      width: 80%;
      font-size: 1.8rem; }
  .cases-container__list {
    font-family: "PlayfairDisplay-Regular";
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 1.8rem;
    list-style-image: url("../img/candle.png");
    line-height: 4rem; }
    @media only screen and (max-width: 68.75em) {
      .cases-container__list {
        list-style-position: inside; } }
  .cases-container__table {
    height: 100%;
    flex: 1;
    padding: 2rem; }
    .cases-container__table tbody {
      box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3);
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
      overflow: hidden;
      background-position: 50% 50%;
      background-color: transparent; }
      .cases-container__table tbody tr {
        width: 100%; }
        .cases-container__table tbody tr td {
          width: 20%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          padding: 5px 10px; }
          .cases-container__table tbody tr td img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid #fcf1dcd1; }

.footer-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer-container__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
    .footer-container__middle__text {
      font-size: 16px;
      color: #e6e6e6;
      text-align: center; }
    .footer-container__middle__box {
      padding: 2.4rem 1.6rem;
      font-size: 3rem;
      border: 0.5px dotted white;
      border-radius: 1.6rem;
      cursor: pointer; }
      .footer-container__middle__box:hover {
        border: 0.5px dotted #b76b28;
        color: #b76b28; }
    .footer-container__middle__icons {
      display: flex;
      justify-content: space-evenly;
      width: 60%; }
      .footer-container__middle__icons a img {
        background-color: #fff;
        border-radius: 20px; }
        .footer-container__middle__icons a img:hover {
          background-color: #b76b28; }
  .footer-container__copyright, .footer-container__design {
    align-self: flex-end;
    font-family: "PlayfairDisplay-Regular"; }
    @media only screen and (max-width: 37.5em) {
      .footer-container__copyright, .footer-container__design {
        display: none; } }

@keyframes fromAbove {
  0% {
    top: -100%; }
  80% {
    top: 5%; }
  85% {
    top: -3%; }
  90% {
    top: 3%; }
  95% {
    top: -1.5%; }
  100% {
    top: 0%; } }

.fromAboveAnimation {
  animation: fromAbove ease-in-out 3s; }

@keyframes fromLeft {
  0% {
    left: -100%; }
  90% {
    left: 20%; }
  100% {
    left: 12%; } }

@keyframes fromRight {
  0% {
    right: -100%; }
  90% {
    right: 20%; }
  100% {
    right: 12%; } }

@keyframes fromBelow {
  0% {
    top: 300%; }
  90% {
    top: 150%; }
  100% {
    top: 120%; } }

@keyframes lit {
  0% {
    opacity: 0.5; }
  30% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

@keyframes disAppear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.disAppearNav {
  animation-duration: 2s;
  animation-name: disAppear; }

.hide {
  display: none; }

.invisible {
  opacity: 0; }

.container-resume {
  overflow: hidden;
  width: 60%;
  margin: auto; }
  @media only screen and (max-width: 37.5em) {
    .container-resume {
      width: 90%; } }

.resumeNoEffect {
  margin: -3px auto;
  width: 40%;
  height: auto;
  padding: 0; }

.resume {
  margin: -3px auto;
  width: 90%;
  height: auto;
  padding: 0;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: transform 0.5s;
  transform-origin: top; }
  .resume__title {
    margin: 10rem auto 4rem auto;
    font-size: 5rem;
    text-align: center;
    line-height: 1; }
    .resume__title span {
      font-size: 2.2rem;
      font-family: "PlayfairDisplay-Regular"; }

#resume-one img {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
  box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3); }

.resume-threeImg {
  display: none; }

.container-resume {
  perspective: 1000px;
  overflow: hidden; }

#resume-one {
  z-index: 1000;
  overflow: hidden; }

#resume-one img {
  z-index: 1000; }

#resumeTwo {
  z-index: 6;
  width: 100%;
  box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3); }

#resume-three {
  margin-top: -3px;
  z-index: -3;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
  box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3); }

.resume-three-container {
  z-index: -10; }

/* BUTTON STYLING */
#wrap {
  margin: 4rem auto;
  text-align: center;
  font-family: PlayfairDisplay-Regular;
  margin-bottom: 20rem; }

.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 5rem;
  width: 20rem;
  line-height: 5rem;
  padding: 0;
  border-radius: 5rem;
  border: 1px solid #0099cc;
  margin: 1rem;
  transition: .5s; }

.btn-slide2 {
  border: 1px solid #b76b28; }

.btn-slide:hover {
  background-color: #0099cc; }

.btn-slide2:hover {
  background-color: black; }

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -4.5rem;
  background-color: #ffffffc3;
  color: #0099cc;
  background-image: url("../img/shuttle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%; }

.btn-slide2:hover span.circle2 {
  color: #efa666; }

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 5rem;
  opacity: 0; }

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 4rem; }

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  color: #ffffffc3;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 4.2rem;
  height: 4rem;
  width: 4rem;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
  background-image: url("../img/shuttle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%; }

.btn-slide2 span.circle2 {
  background-color: #efa666; }

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 9rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: bold;
  color: #30abd5;
  transition: .5s; }

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #efa666;
  left: 50px; }

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0; }

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: #fff; }
